h1 {
    text-align: center !important;
    padding: 90px;
}

nav.navbar {
  background-color: lightcyan !important;
  

}
p {
  text-align: center !important;
  margin: 0 auto !important;
  width: 80% !important;
}       

img {

    flex: 1 1 auto;
    width: 50%;
    height: auto;   
    /
    height: auto;
    object-fit: contain;
    display: block  !important ;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 3%;
}

p {
    text-align: center !important;
    margin: 0 auto !important;
    width: 80% !important;
    font-size: 1.5em; /* Adjust as needed */
    color: #333; /* Darker text color for better readability */
    padding: 20px; /* Add some padding for better spacing */
}